root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]
cpp_generate_documentation_comments = doxygen_slash_star
indent_style = space
indent_size = 4
charset = utf-8-bom
end_of_line = lf

[*.java]
indent_style = space
indent_size = 4
charset = utf-8-bom
end_of_line = lf

[*.{js,rb}]
end_of_line = cr
indent_style = space
indent_size = 32
charset = utf-16le
end_of_line = cr
